
body {
  background-image: url("images/09.jpg")
}

h1 {
  color: navy;
  margin-left: 20px; font-size:60px; text-align:center
}

h3{
  color:rgb(60, 60, 60); font-size:40px; text-align:center
}

p
{
  color: rgb(60, 179, 113); font-size: 30px; text-align:center
}
